.header-menu {
    position: absolute;
    top: 0;
    height: 100%;
    right: 0;
    padding-right: 10px;
}
.header-menu {
    position: absolute;
    top: 0;
    height: 100%;
    right: 0;
    padding-right: 10px;
    display: flex;
    align-items: center;
}
.header-menu a {
    color: #333;
    padding-left: 25px;
}
